@charset "UTF-8";

/*ヘッダーの装飾*/
header {
}
header h2 {
  margin: 0px 50px;
  padding: 20px;
  text-align: left;
  font-style: italic;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  text-align: left;
}
ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
li {
  margin: 0% 15px;
  list-style: none;
  font-style: italic;
}
a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.page-top-img {
  width: 100%;
  height: 90%;
  margin-bottom: 10%;
}

.section-title {
  font-size: 40px;
  font-weight: bolder;
  font-style: italic;
  background-color: aqua;
  color: black;
  text-decoration: underline;
  padding: 10px;
}
.profile-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}
.my-face-img {
  width: 50%;
}
.my-face-img img {
  width: 50%;
  border-radius: 30px;
  margin: 10%;
}
.profile-detail {
  height: 250px;
  width: 500px;
  background-color: khaki;
  padding: 20px;
  border-radius: 30px;
}
.profile-name {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10%;
}
p {
  font-size: large;
}

.favorite-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10%;
}
.favorite-img {
  width: 50%;
}
.favorite-img img {
  width: 80%;
  margin: 10%;
}
.favorite-detail {
  height: 250px;
  width: 370px;
  background-color: rosybrown;
  padding: 20px;
  border-radius: 30px;
}
.favorite-name {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10%;
}
p {
  font-size: large;
}

.portforio_profile_links_element {
  font-size: 3vh;
  color: orangered;
  justify-content: space-between;
}

.portforio_exeuclid {
  height: 30vh;
  width: 75vw;
  border-radius: 40vw / 40vh;
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 5vh;
  padding: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.exeuclid-content {
  background-color: bisque;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.portforio_exeuclid_title {
  display: flex;
  justify-content: center;
  padding: 1vh;
  font-size: 3vh;
}

.portforio_exeuclid_calculator {
  display: flex;
  justify-content: space-around;
  padding: 1vh;
}

.portforio_exeuclid_calculator_element {
  display: flex;
  justify-content: space-around;
  padding: 1vh;
}

.portforio_exeuclid_result {
  display: flex;
  justify-content: center;
  padding: 1vh;
}

.portforio_exeuclid_calculator_display {
  height: 2em;
  width: 20em;
  padding: 4px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 0 black;
  font-size: 1em;
  border-width: 0px;
}

.portforio_exeuclid_result_display {
  height: 2em;
  width: 20em;
  padding: 4px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 0 black;
  font-size: 1em;
  border-width: 0px;
}

.portforio_exeuclid_calculator_button {
  border: solid 1px black;
  background-color: yellow;
  padding: 10px;
  border-radius: 30px;
}

.portforio_exeuclid_result_button {
  border: solid 1px black;
  background-color: red;
  padding: 5px;
  border-radius: 30px;
}
