body {
  background-image: url("IMG_2699 (002).jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portforio {
  height: 90vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portforio_profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portforio_profile_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portforio_profile_name_ja {
  font-size: 10vmin;
  color: white;
}
.portforio_profile_name_en {
  font-size: 3vmin;
  color: white;
}

.portforio_profile_links_element {
  font-size: 4vmin;
  color: orangered;
  justify-content: space-between;
}

.portforio_exeuclid {
  height: 30vh;
  width: 75vw;
  border-radius: 40vw / 40vh;
  background-color: rgba(255, 255, 255, 0.7);
  /* height: 20vmin;
  width: 25vw; */
  margin-top: 5vmin;
  padding: 1vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.portforio_exeuclid_title {
  align-self: center;
  font-size: 3vmin;
}

.portforio_exeuclid_calculator {
  display: flex;
  justify-content: space-around;
  padding: 1vmin;
}

.portforio_exeuclid_calculator_element {
  display: flex;
  justify-content: space-around;
  padding: 1vmin;
}

.portforio_exeuclid_result {
  align-self: center;
  font-size: 3vmin;
}

.portforio_exeuclid_calculator_display {
  height: 2em;
  width: 80%;
  padding: 4px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 0 black;
  font-size: 1em;
  border-width: 0px;
}

.portforio_exeuclid_result_display {
  height: 2em;
  width: 70%;
  padding: 4px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 0 black;
  font-size: 1em;
  border-width: 0px;
}

.portforio_exeuclid_calculator_button {
  border: solid 1px black;
  background-color: yellow;
  padding: 0.5em;
}

.portforio_exeuclid_result_button {
  border: solid 1px black;
  background-color: yellow;
  padding: 0.5em;
}
